{%extends 'awwards/base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<div class="container">
    <h3 class=""> <b>{{ profile.user }}</b> Profile Info</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <br>
          {% if profile.profile_photo %}
          <img src="{{profile.profile_photo.url}}" alt="profile" class="img-fluid"  style="border-radius: 50%;height:px;width:; box-shadow: 5px 5px 10px rgba(3,3,3,0.7);">
          {% endif %}
        </div>
        <div class="col-md-5 text-left ml-5">
          <br><br><br>
          <ul class="list-inline">
            <li class="list-inline-item">
             <h4> <span class=""> <b>{{ profile.user }}</b></span></h4>
            </li>
            <hr>
            <br>
            {% if profile.user == user %}
            <li class="list-inline-item">
              <a data-toggle="modal" data-target="#edit" style="text-decoration:none;"  href=""><i class="far fa-edit"></i>Edit Profile</a>
            </li>
            {% endif %}
          </ul>

          <ul class="list-inline">
            <li class="list-inline-item">
              <span class="font-weight-bold">{{projects|length}}</span> Project
            </li>
            <li class="list-inline-item">
              <span class="font-weight-bold">{{profile.user.follow.all | length}}</span> Ratings
            </li>
            <li class="list-inline-item">
              <span class="font-weight-bold">{{profile.user.c_user.all | length}}</span> Projects rated
            </li>
          </ul>
          <p class=""> <b>Bio:</b>  {{profile.bio|safe}}</p>
          <h6 class=""> <b>Contact:</b> <em> {{profile.contact}}</em></h6>
          <br>
           {% if profile.user == user %}
             <button style="border: solid 1px #333; padding: 1em;" class="btn btn-sm btn-outline-secondary btn-block mb-4 mx-auto" type="submit" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-upload fa-lg"></i><a style= "text-decoration: none;"href="{% url 'upload_project' %}">upload Project</a>
                          </button>
      
          {% endif %} 
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
    <div class="container">
         <h4 class="text-center"> <b>Projects</b> </h4>
      <hr>
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
          <img src="{{project.project_photo.url}}" alt="Image" style="height:500px; border-radius:15px; box-shadow: 2px 2px 5px rgba(3,3,3,0.5);"class="img-fluid"><br>
        </div>      
        {% empty %}
        <div class="col-md-12">
          <h2>  Profile has no Projects </h2>
        </div> 
          {% endfor %}
      </div>
    </div>
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item text-center"><a href="{% url 'add_profile' %}">Edit Profile</a></li>
          <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
          <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
{% endblock %}